# FDA_HW2 Decision Tree 

### import packages

In [154]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO   
from sklearn.tree import export_graphviz
import pydotplus

### Generating my own data about eat midnight snack

In [216]:
import csv
import random

with open('train_data.csv', 'w', newline='') as csvfile:

    writer = csv.writer(csvfile)
    #time = [9, 10, 3, 4, 11, 12, 1, 2]
    time = [0,1,2,3,4,5]
    yesno = ['no', 'yes']
    sex = ['female', 'male']

    writer.writerow(['ID', 'eat', 'sex', 'time', 'stayUpLate',  'goClassMorning','costToday', 'friends'])

    for i in range(1,1001):       
        rTime = random.randint(0,5)
        rStay = random.randint(0,1)
        rGo = random.randint(0,1)
        rCost = random.randint(20,60)
        rFriend = random.randint(0,5)
        rSex = random.randint(0,1)
        
        #if rTime >= 4 and rStay == 0:
        #    writer.writerow([i, 0, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])
        #elif rTime >= 4 and rStay == 1 and rGo == 1 and rCost > 200 and rFriend < 3:
        #    writer.writerow([i, 0, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])
        #elif rTime < 4 and rStay == 0 and rGo == 1:
        #    writer.writerow([i, 0, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])
        #elif rTime < 4 and rStay == 0 and rGo == 0 and rCost > 200:
        #    writer.writerow([i, 0, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])
        #else:
        #    writer.writerow([i, 1, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])
            
        if rTime <=3 and rStay == 0:
            writer.writerow([i, 0, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])
        elif rCost > 200 and rFriend < 3:
            writer.writerow([i, 0, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])
        elif rGo == 1:
            writer.writerow([i, 0, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])
        else:
            writer.writerow([i, 1, sex[rSex], time[rTime], yesno[rStay], yesno[rGo], rCost*5, rFriend])

# Data preprocessing

### read data

In [217]:
df = pd.read_csv('train_data.csv')
df.head()

   ID  eat     sex  time stayUpLate goClassMorning  costToday  friends
0   1    0  female     3         no            yes        120        4
1   2    1    male     0        yes             no        255        0
2   3    0    male     2        yes            yes        265        4
3   4    0  female     4        yes            yes        280        5
4   5    0  female     2         no             no        165        5

### Drop relatively useless attributes

In [218]:
df = df.drop('ID', axis = 1)
df = df.drop('sex', axis = 1)

In [219]:
df['eat'].value_counts()

0    675
1    325
Name: eat, dtype: int64

### Deal with NaN attributes

In [220]:
df.isnull().sum()

eat               0
time              0
stayUpLate        0
goClassMorning    0
costToday         0
friends           0
dtype: int64

### Deal with the remainging string data: stayUpLate „ÄÅ goClassMorning
 no equals 0, yes equals 1

In [221]:
yesno_map = {'no' : 0, 'yes' :1}
df['stayUpLate'] = df['stayUpLate'].map(yesno_map)
df['goClassMorning'] = df['goClassMorning'].map(yesno_map)
df.head()

   eat  time  stayUpLate  goClassMorning  costToday  friends
0    0     3           0               1        120        4
1    1     0           1               0        255        0
2    0     2           1               1        265        4
3    0     4           1               1        280        5
4    0     2           0               0        165        5

## Seperate data into training set and testing(validation) set

In [222]:
df_train = df[:700]
df_train.head()

   eat  time  stayUpLate  goClassMorning  costToday  friends
0    0     3           0               1        120        4
1    1     0           1               0        255        0
2    0     2           1               1        265        4
3    0     4           1               1        280        5
4    0     2           0               0        165        5

In [223]:
df_test = df[700:]
df_test.head()

     eat  time  stayUpLate  goClassMorning  costToday  friends
700    0     2           0               1        130        2
701    1     1           1               0        230        4
702    1     1           1               0        240        5
703    0     0           1               1        275        4
704    1     2           1               0        240        3

## seperate attributes and answer

In [224]:
y = df_train['eat'].values
df_train = df_train.drop('eat', 1)

y

array([0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0], dtype=int64)

# Build Decision Tree

In [225]:
dtree=DecisionTreeClassifier(max_depth=5)
dtree.fit(df_train,y)

dot_data = StringIO()
export_graphviz(dtree, 
                out_file=dot_data,  
                filled=True, 
                feature_names=list(df_train),
                class_names=['sleep','eat'],
                special_characters=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_pdf("tree.pdf")

True

In [226]:
dtree.feature_importances_

array([0.27186469, 0.26329392, 0.46484139, 0.        , 0.        ])

# Apply to testing data and then calculate accuracy.

In [227]:
y_test = df_test['eat'].values
X_test = df_test.drop('eat', 1)

y_predict = dtree.predict(X_test)

y_predict

array([0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [228]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

1.0

###  ÂïèÈ°åÔºöÈ†êÊ∏¨ÊòØÂê¶ÊúÉÂêÉÂÆµÂ§úÔºü„ÄÇ
###  ÁâπÂæµÔºöÊÄßÂà•, Áï∂‰∏ãÊôÇÈñì, ÊòØÂê¶ÁÜ¨Â§ú,  ÊòéÊó©ÊòØÂê¶ÊúâË™≤, Áï∂Êó•Ëä±Ë≤ª, ÊúâÊÑèÈ°òÊúãÂèãÊï∏Èáè„ÄÇ
###  Ë¶èÂâáÔºö1. ÊôÇÈñìÁÇ∫ÂçäÂ§ú0~3Èªû‰∏îÊ≤íÊúâË¶ÅÁÜ¨Â§úÔºå‰∏çÊúÉÂêÉ  
###             2. Áï∂Êó•Ëä±Ë≤ªË∂ÖÈÅé200ÂÖÉ‰∏îÊúâÊÑèÈ°òÊúãÂèãÂ∞ëÊñº3‰∫∫ÊôÇÔºå‰∏çÊúÉÂêÉ
###             3. Ëã•ÊòéÊó©ÊúâË™≤Ôºå‰∏çÊúÉÂêÉ
###             ÂÖ∂È§òÂâáÊòØÊúÉË≥ºË≤∑ÁöÑÊÉÖÂΩ¢

###             ËÄåÊúÄÂæåÁöÑÁµêÊûúÊ∫ñÁ¢∫Â∫¶ÁÇ∫1ÔºåDecision Tree‰πüÂ§ßËá¥Á¨¶ÂêàÊàëÂéüÊú¨Ë®≠ÁΩÆÁöÑÊ¢ù‰ª∂ÔºåÂè™Ë¶ÅÈöîÂ§©Êó©‰∏äÊúâË™≤Â∞±‰∏çÊúÉÂêÉÂÆµÂ§úÔºå‰ª•ÂèäÂçäÂ§ú0~3Èªû‰πãÈñì‰∏îÊ≤íÊúâË¶ÅÁÜ¨Â§ú‰πü‰∏çÊúÉÂêÉÔºåÂè™ÊòØÈóúÊñºÁ¨¨‰∫åÊ¢ùË¶èÂâáÂèØËÉΩÂõ†ÁÇ∫È†Ü‰ΩçËºÉÂæå‰ª•ÂèäÁõ∏ÈóúÂ∫¶‰∏çÈ´òÔºåÊâÄ‰ª•Â∞±Ê≤íÊúâÂá∫ÁèæÂú®Tree‰πã‰∏≠„ÄÇÈô§Ê≠§‰πãÂ§ñÈÇÑÂá∫Áèæ‰∫Ü‰∏Ä‰∫õÂÖ∂‰ªñÁöÑÊΩõÂú®Ë¶èÂâáÊàë‰∏ÄÈñãÂßã‰∏¶Ê≤íË®≠ÂÆöÂà∞ÁöÑÔºåÂ¶ÇÊòéÊó©Ê≤íË™≤‰ΩÜË¶ÅÁÜ¨Â§úÂâá‰æùÁÑ∂ÊúÉÂêÉÂÆµÂ§ú„ÄÇ